.portfolio-table {
  td {
    input {
      width: 70px;
    }
  }
}

.min-max-table {
  td {
    input {
      width: 150px;
    }
  }
}

.corr-table {
  td {
    input {
      width: 70px;
    }
  }
}