.interestRate-table {
    padding: 300px;
    width: 60%;
    height: 50%;
    margin: 0 auto;

  }

 
    .th{
        background-color: blue;
    }

   

h1{
    text-align: center;
    color: white;
}