table{
    border:2px solid white;
    border-collapse: collapse; 
}
tr, td {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 40px;
    text-align: left;
  }
input[type="button"] {
    margin: 10px;
}

table{
    width: 600px;
    color: aliceblue;
}
tr{
    text-align: left;
}

.button {font-size: 24px;}
form {
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}
